<div class="col-xs-9">
		<h2>Book detail</h2>
		<h2 class="fa fa-user">
	<%= form_with model:@book, local:true do |f| %>
        <%= current_user.name %></h2>
		     <h2 class="book-title"><%= @book.title %></h2>
		     <h2 class="book-title"><%= @book.body %></h2>

    <% if @book.user == current_user %>
		<%= link_to "Edit", edit_book_path(@book) %>
		<td><%= link_to "destroy", book_path(book.id), method: :delete, data: {confirm: "本当に消しますか？"} %></td>
		<% end %>

 <% end %>